{{> nav}}

<div class="site-blocks-cover overlay" style="background-image: url('/images/hero_bg_1.jpg');" data-aos="fade"
	data-stellar-background-ratio="0.5" data-aos="fade">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">
				<h1 class="mb-4" style="font-size: 6.5vw;">
					<strong>{{page_title}}</strong><br />{{page_subtitle}}
				</h1>
				{{#each buttons}}
				<p>
					<a href="{{link}}" class="btn btn-primary px-4 py-3" target="_blank">{{text}}</a>
				</p>
				{{/each}}
			</div>
		</div>
	</div>
</div>