{{> header-main }}
{{#if info}}
<div class="site-section">
	<div class="container" data-aos="fade-up">
		<div class="row">
			<div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
				<h2 class="mb-5">{{page_title}} {{page_subtitle}}</h2>
				<p>{{info}}</p>
			</div>
		</div>
	</div>
</div>
{{/if}}
{{> footer}}