{{> header-main }}

<div class="site-section">
	<div class="container">
		<div class="row">
			<div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
				<h2 class="mb-5"><a href="https://discord.gg/n5rC5Jy">Join us on Discord</a></h2>
				<p class="lead">Discord is our main way of communicating with you - our members! If you're not yet
					familiar with Discord, it's a cross between Skype, TeamSpeak, Facebook groups and an online Forum.
				</p>
				<p>
					You can join our server by clicking the button above or, if you're on PC, going to this link: <a
						href="http://discord.io/svge">discord.io/svge</a>. Once you've made a Discord account and joined
					us, you'll be asked to verify that you're a Southampton student or alumni, then you'll have access
					to over 100 channels for discussing gaming, tech and more!
				</p>
				<br />
				<h2 class="mb-5"><a href="https://www.susu.org/groups/southampton-university-esports-society">Find us on
						SUSU</a></h2>
				<h2 class="mb-5"><a href="/games">See the Games we Play</a></h2>
				<h2 class="mb-5"><a href="/events">Upcoming Events</a></h2>
				<h2 class="mb-5"><a href="/committee">Meet the Committee</a></h2>
				<h2 class="mb-5"><a href="/constitution">Read our Constitution</a></h2>
			</div>
		</div>
	</div>
</div>

{{> footer }}

</div> <!-- This may be a typo -->