{{> header-small }}

<div class="site-section">
	<div class="container">
		<div class="row">
			<div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
				<h2 class="mb-5">Our Games</h2>
				<p>Here at SVGE, we play all manner of games, both casual and competitive. So whether you're looking to
					get into esports tournaments, or just find some new friends to play your favourite games, we're open
					to anyone playing anything.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
				<a href="/games/league-of-legends" class="unit-9">
					<div class="image"
						style="background-image: url('http://getdrawings.com/free-icon/league-of-legends-desktop-icon-64.png');">
					</div>
					<div class="unit-9-content">
						<h2>League of Legends</h2>
						<span>Events &vert; Esports &vert; Ranked </span>
						<span>Welcome to Summoner's Rift</span>
					</div>
				</a>
			</div>

			<div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
				<a href="#" class="unit-9">
					<div class="image" style="background-image: url('images/img_2.jpg');"></div>
					<div class="unit-9-content">
						<h2>Electro Party</h2>
						<span>Friday 1:00pm &mdash; 2:30pm</span>
						<span>with Gaby Tenda</span>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
				<a href="#" class="unit-9">
					<div class="image" style="background-image: url('images/img_3.jpg');"></div>
					<div class="unit-9-content">
						<h2>Classic Hits</h2>
						<span>Friday 1:00pm &mdash; 2:30pm</span>
						<span>with James Tenda</span>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
				<a href="#" class="unit-9">
					<div class="image" style="background-image: url('images/img_4.jpg');"></div>
					<div class="unit-9-content">
						<h2>Classic Songs</h2>
						<span>Friday 1:00pm &mdash; 2:30pm</span>
						<span>with Troy Peters</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

{{> footer }}